@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@1,700&display=swap');

$font-source: "Source Sans Pro", sans-serif;

// COLORES
$lila-general: #B8449C;
$white-general: white;
$bg-main: #171717;
$black-general: black;
